@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
body {
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.front,
.back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.text-container {
  width: 100%;
  height: calc(50px + 0.390625vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.text-container.slide {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.text-container.hidden {
  display: none;
}

.intro-text {
  font-family: 'Silkscreen', cursive;
  font-size: calc(50px + 0.390625vw);
  text-align: center;
  margin: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.intro-text.slide-up {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.front {
  background-color: #ff9600;
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.front.slice {
  -webkit-clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
          clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
}

.front.main-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.front.main-display .display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.front .text-container {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.front h1,
.front h2 {
  color: #323232;
}

.back {
  background-color: #0096ff;
}

.back.main-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.back.main-display .display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.back .text-container {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.back h1,
.back h2 {
  color: white;
}

.display-container {
  display: none;
  width: calc(50vw - 4vw);
  height: calc(100% - 4vw);
  margin: 2vw;
}

.item-container {
  overflow: hidden;
}

.item-container h2 {
  margin: 0;
  padding: 10px;
  font-family: 'Silkscreen', cursive;
  font-size: calc(30px + 0.390625vw);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  cursor: pointer;
}

.item-container h2.slide {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.item-container h2:hover {
  font-size: calc(32px + 0.390625vw);
}

.back .item-container h2 {
  text-shadow: 2px 2px #c8c8c8;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.front .item-container h2 {
  text-shadow: 2px 2px #646464;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=style.css.map */